<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main-card">
        <div class="title">
            <h2>DOWNLOAD</h2>
            <img src="{{ qr_code }}" alt="QR Code" title="Для открытия на мобильном устройстве сканируйте QR-код" width="100">
        </div>
        {% if not files %}
            <h3>Нет доступных файлов</h3>
        {% else %}
            <div class="files-list">
                <ul>
                    {% for file in files %}
                        <li>
                            <div class="file-download">
                                <a href="/download/{{ file }}">
                                    {{ file }} <img src="/static/d.svg" alt="download">
                                </a>
                            </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="title">
            <h2>UPLOAD</h2>
        </div>
        <form action="/upload/" method="post" accept="*/*" enctype="multipart/form-data" class="file-upload">
            <input type="file" name="file">
            <input type="submit" class="input-submit" value="Upload">
        </form>
    </div>
</body>
</html>